{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/pythonbg1.jpg') }})">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    {% if msg_sent %}
                        <h1>Congratulations!</h1>
                        <span class="subheading">Your message has been sent successfully!</span>
                    {% else %}
                        <h1>Contact Me</h1>
                        <span class="subheading">Have questions? I have answers.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<section class="contact-me-section" id="">
    <div class="container-fluid contact-me-cont">
        <div class="row">
            <div class="col-lg-10 mx-auto contact-me-col">
                <div class="contact-p">
                    <p>Want to get in touch?</p>
                    <p>Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                </div>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <div class="container div-bg-black">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            {{ ckeditor.load() }}
                            {{ ckeditor.config(name='body') }}
                            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "light"}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<hr>

{% include "footer.html" %}